<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>727694843107-ju2h90lb51e3rdntr8p159spl4sscmuo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727694843107-ju2h90lb51e3rdntr8p159spl4sscmuo</string>
	<key>API_KEY</key>
	<string>AIzaSyBAoiHOPNRDM2W_Kgwi6wKC0YNdl4BgJOA</string>
	<key>GCM_SENDER_ID</key>
	<string>727694843107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ReNoteAI.ReNoteAI</string>
	<key>PROJECT_ID</key>
	<string>renote-aa433</string>
	<key>STORAGE_BUCKET</key>
	<string>renote-aa433.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:727694843107:ios:520723a7b392cb655c79d6</string>
</dict>
</plist>
